@CHARSET "utf-8";
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
    border: 0;
    vertical-align: baseline;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img { 
    border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}

body {
    font-size: 12px;
    font-family: "宋体",Helvetica, Arial, sans-serif;
    line-height: 20px;
    
    /*background: #E4F6FB url(images/background/bgcenter.jpg) repeat-x 50% 0;*/
    background: #f9f9f9;
    /*background: #fff;*/
    overflow-x:hidden;
    overflow-y:auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, Times, serif;
}

h1 { font-size: 40px; line-height: 46px; }
h2 { font-size: 34px; line-height: 40px; }
h3 { font-size: 28px; line-height: 34px; }
h4 { font-size: 22px; line-height: 28px; }
h5 { font-size: 16px; line-height: 22px; }
h6 { font-size: 12px; line-height: 18px; }

p{
	 text-indent:2em;
	 font-size:14px;
	 line-height: 25px;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}


.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover,a:active,a:focus {
	color: #0673a5;
	text-decoration: none;
	cursor: pointer;
}
